<!-- Links -->
<footer class="content">
  <div>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <a class="circle-link" title="SaileshBK/coffee" href="https://github.com/SaileshBK/coffee" target="_blank"
      rel="noopener">
      <i class='bx bxl-github bx-tada bx-md'></i>
    </a>
  </div>
  <div class="footer-text-waivy">
    <span style="--i:1">2</span>
    <span style="--i:2">0</span>
    <span style="--i:3">2</span>
    <span style="--i:4">3</span>
    <span style="--i:5; margin-right: 5px;">,</span>
    <span style="--i:6">S</span>
    <span style="--i:7">a</span>
    <span style="--i:8">i</span>
    <span style="--i:9">l</span>
    <span style="--i:10">e</span>
    <span style="--i:11">s</span>
    <span style="--i:12">h</span>
    <span style="--i:13">B</span>
    <span style="--i:14">K</span>
  </div>
</footer>
