<div class="container">

  <h3 class="heading">Some of our Coffees</h3>

  <div class="gallery">

    <div class="gallery-item">
      <img class="gallery-image" src="/assets/img/Morning-coffee4.jpg">
    </div>

    <div class="gallery-item">
      <img class="gallery-image" src="/assets/img/Morning-coffee3.jpg">
    </div>

    <div class="gallery-item">
      <img class="gallery-image" src="/assets/img/Morning-coffee2.jpg">
    </div>

    <div class="gallery-item">
      <img class="gallery-image" src="/assets/img/Morning-coffee1.jpg">
    </div>

    <div class="gallery-item">
      <img class="gallery-image" src="/assets/img/Morning-coffee5.jpg">
    </div>

    <div class="gallery-item">
      <img class="gallery-image" src="/assets/img/Morning-coffee6.jpg">
    </div>

  </div>

</div>