<div class="container">

  <h3 class="heading">Some of our Coffees</h3>

  <div class="gallery">

    <div class="gallery-item">
      <img class="gallery-image" src="/assets/img/coffe-image-1.jpg">
    </div>

    <div class="gallery-item">
      <img class="gallery-image" src="/assets/img/coffe-image-1.jpg">
    </div>

    <div class="gallery-item">
      <img class="gallery-image" src="/assets/img/coffe-image-1.jpg">
    </div>

    <div class="gallery-item">
      <img class="gallery-image" src="/assets/img/coffe-image-1.jpg">
    </div>

    <div class="gallery-item">
      <img class="gallery-image" src="/assets/img/coffe-image-1.jpg">
    </div>

    <div class="gallery-item">
      <img class="gallery-image" src="/assets/img/coffe-image-1.jpg">
    </div>

  </div>

</div>
