.coming-soon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
}

.coming-soon-container h1 {
  font-size: 3em;
  margin: 0;
  font-weight: bold;
}

.coming-soon-container p {
  font-size: 1em;
  margin: 0.5em 0 0;
}