h1 {
  margin: 0;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 4em;
  color: #121212;
  word-spacing: 16px;
}

p {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  color: #121212;
  text-shadow: 0 0 40px #FFFFFF, 0 0 30px #FFFFFF, 0 0 20px #FFFFFF;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-size: cover;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  height: auto;
  display: table;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

.item {
  width: auto;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding: 8px;
}

@media only screen and (min-width: 800px) {
  h1 {
    font-size: 6em;
  }

  p {
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 2em;
  }

  p {
    font-size: 1.2em;
  }
}