h1,
h2,
h3,
h4,
h5,

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #121212;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #youtube-logo:hover {
  opacity: 0.8;
}

.main-background {
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -10px;

  /* The styles below will be applied only when the screen width is between 600px and 800px */
  @media (min-width: 600px) and (max-width: 800px) {
    background-size: contain;
  }

  /* The styles below will be applied only when the screen width is less than 600px */
  @media (max-width: 600px) {
    background-size: auto;
  }
}
