Toolbar
<div class="toolbar" role="banner">
  <img width="150" alt="Website Logo" src="../assets/img/myCoffeeLogo_150x100.png" />
  <div class="spacer">
    <app-hot-koffee></app-hot-koffee>
  </div>
  <a target="_blank" rel="noopener" href="https://www.youtube.com/" title="YouTube">
    <svg id="youtube-logo" height="44" width="44" data-name="Logo" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24" fill="#fff">
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path
        d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z" />
    </svg>
  </a>

  <a target="_blank" rel="noopener" href="" title="Cart">
    <svg id="youtube-logo" xmlns="http://www.w3.org/2000/svg" width="44" height="40" viewBox="0 0 24 24"
      style="fill: #fff">
      <path
        d="M21 4H2v2h2.3l3.521 9.683A2.004 2.004 0 0 0 9.7 17H18v-2H9.7l-.728-2H18c.4 0 .762-.238.919-.606l3-7A.998.998 0 0 0 21 4z">
      </path>
      <circle cx="10.5" cy="19.5" r="1.5"></circle>
      <circle cx="16.5" cy="19.5" r="1.5"></circle>
    </svg>
  </a>
</div>

<app-nav-bar (onToggleSideNav)="onToggleSideNav($event)"></app-nav-bar>
<div class="container">
  <div class="main-background">
    <app-main-content></app-main-content>

  </div>
</div>
<router-outlet></router-outlet>


<!-- Footer -->
<app-footer></app-footer>