.container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: #121212;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 19px;
}

.email input {
  background-color: transparent;
  margin-left: 6px;
  box-sizing: border-box;
  color: #121212;
  height: 30px;
  width: 200px;
  font-size: 19px;
}
