<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-link">
        <a href="#">
          <i class='bx bxs-home bx-flashing'></i>
          <span class="text nav-text">Home</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#">
          <i class='bx bxs-coffee-bean bx-flashing'></i>
          <span class="text nav-text">About</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#">
          <i class='bx bxs-contact bx-flashing'></i>
          <span class="text nav-text">Contact</span>
        </a>
      </li>
    </ul>
  </div>
</nav>