<div class="sideNav" [ngClass]="collapsed ? 'sideNav-collapsed': ''">
  <button (click)="toggleCollapse()">Toggle</button>
  <!-- <button class="btn-close" *ngIf="collapsed" (click)="closeSideNav()">Toggle</button> -->
  <ul class="sideNavBar-nav">
    <li class="sideNavBar-nav-item" *ngFor="let data of navData">
      <a class="sideNavBar-nav-link" [routerLink]="[data.routeLink]">
        <i class="sideNavBar-link-icon" [class]="data.icon"></i>
        <span class="sideNavBar-link-text" *ngIf="collapsed">{{data.label}}</span>
      </a>
    </li>
  </ul>
</div>